@using WebApplication_Edi_Web_2._0.Models.Users_EdiWeb
@model ManageUsersViewModel

@{
    ViewData["Title"] = "Manager users";
}

<br />
<h2>@ViewData["Title"]</h2>

<h3 style="font-style: italic">Administrators</h3> <br />
<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Email</td>
        </tr>
    </thead>

    @foreach (var user in Model.Admin)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Email</td>
        </tr>
    }
</table>

<h3 style ="font-style: italic">Everyone</h3>

<table class="table">
    <thead>
        <tr>
            
            <td>Email</td>
            <td>User Description</td>
            <td>Update</td>
            <td>Delete</td>
        </tr>
    </thead>

    @foreach (var user in Model.Everyone)
    {
        <tr>
            
            <td>@user.Email</td>
            <td>@user.DescripUser</td>
            <td>
             <a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@user.Id">Update</a>
            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                  <button type="submit" class="btn btn-sm btn-danger"> Delete
                      </button>
                </form>
            </td>
        </tr>
    }
    <a class="btn btn-sm btn-primary" asp-action="Create" > Create</a>
</table>