@using WebApplication_Edi_Web_2._0.Models.Users_EdiWeb
@model ManageUsersViewModel

@{
    ViewData["Title"] = "Manager users";
}

<br />
<h2>@ViewData["Title"]</h2>

<h3>Administrators</h3> <br />
<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Email</td>
        </tr>
    </thead>

    @foreach (var user in Model.Admin)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Email</td>
        </tr>
    }
</table>

<h3>Everyone</h3>

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Email</td>
        </tr>
    </thead>

    @foreach (var user in Model.Everyone)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Email</td>
            <td>
         <a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@user.Id">Update</a>
            </td>
        </tr>
    }
    <a class="btn btn-sm btn-primary" asp-action="Create" >
        Create
    </a>
</table>